---
import Layout from "../layouts/Layout.astro";
title: "Adinet | Dev tools and innovation";
---

<Layout title="Adinet | Dev tools and innovation">
  <!-- <section id="projects" class="bg-[#1B2A30] px-6 py-20 text-white">
    <div class="max-w-5xl mx-auto">
      <h2 class="text-3xl font-semibold text-center mb-12 text-[#59B0C8]">
        Highlighted Projects
      </h2>
      <div class="grid md:grid-cols-2 gap-8">
        <div class="p-6 bg-[#263B44] rounded-lg shadow-md">
          <h3 class="text-xl font-semibold mb-2">IndigoDB</h3>
          <p class="text-[#B0D3D9]">
            A real-time ORM for Node.js. Powered by PostgreSQL triggers and
            MongoDB change streams.
          </p>
        </div>
        <div class="p-6 bg-[#263B44] rounded-lg shadow-md">
          <h3 class="text-xl font-semibold mb-2">Autorix</h3>
          <p class="text-[#B0D3D9]">
            Access control like AWS IAM — RBAC, ABAC, and conditions. Built for
            NestJS and beyond.
          </p>
        </div>
        <div class="p-6 bg-[#263B44] rounded-lg shadow-md">
          <h3 class="text-xl font-semibold mb-2">SaaS Core</h3>
          <p class="text-[#B0D3D9]">
            Multi-tenant platform core with IAM, subscription control, and
            microservices architecture.
          </p>
        </div>
        <div class="p-6 bg-[#263B44] rounded-lg shadow-md">
          <h3 class="text-xl font-semibold mb-2">Open Source Toolkit</h3>
          <p class="text-[#B0D3D9]">
            Battle-tested libraries for backend productivity in Node.js and
            TypeScript.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="px-6 py-20 bg-[#0F0F0F] text-center text-white">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-3xl font-bold mb-4">Let’s build something epic</h2>
      <p class="mb-6 text-[#A0BFC5]">
        Looking to innovate? We partner with developers and startups that want
        to scale smart.
      </p>
      <a
        href="mailto:contact@adinet.app"
        class="inline-block bg-[#59B0C8] text-black px-6 py-3 rounded-lg hover:bg-[#4A95AB] transition"
      >
        Contact Us
      </a>
    </div>
  </section> -->
</Layout>
